<!--  <div class="container">


  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>

</div>-->  <!-- /container --> 



     <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 60px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img ng-src="img/1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>冬季如何挑选食材</h1>
              <p>Enter a year tonic season, now how vegetable vegetables? How do we pick the ingredients in winter? Health food and how to match? According to the enthusiastic readers about winter tonic, I recently visited my area on the market, let the people's "vegetable basket" analysis.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">查看挑选</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img ng-src="img/4.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1></h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img ng-src="img/3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>养生之道</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">查看</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

	 
<!-- <div class="container marketing">
	<div class="row" style="text-align:center">
	        <div class="col-lg-4" ng-repeat="foodCate in foodCategory">
	          <h2>{{foodCate.name}}</h2>
	          <p>不可描述</p>
	          <p><a class="btn btn-default" href="#/navbar/foodList/{{foodCate.id}}/1" role="button">进入分类 &raquo;</a></p>
	        </div>
	        
	</div>
</div> -->



 	

















<div class="container">

		<div class="row">
        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r01.jpg" alt="" style="width: 50px; height: 50px;">
		</p>			
          <p>一周最热</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r02.jpg" alt="" style="width: 50px; height: 50px;">
		</p>
          <p>人气美食</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r03.jpg" alt="" style="width: 50px; height: 50px;">
		</p>
          <p>秋季食谱</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r04.jpg" alt="" style="width: 50px; height: 50px;">
		</p>
          <p>高颜值</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <P>
          <img class="img-circle" ng-src="img/r05.jpg" alt="Generic placeholder image" style="width: 50px; height: 50px;">
		</p>
          <p>快手菜</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r06.jpg" alt="" style="width: 50px; height: 50px;">
		</p>
          <p>早餐</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
          <img class="img-circle" ng-src="img/r07.jpg" alt="" style="width: 50px; height: 50px;">
		</p>
          <p>家常菜谱</p>
        </a><!-- /.col-lg-4 -->

        <a class="col-lg-4" href="#">
        <p>
      		<img class="img-circle" ng-src="img/r08.jpg" alt="" style="width: 50px; height: 50px;">
      	</p>
          <p>烘焙大全</p>
        </a><!-- /.col-lg-4 -->
        
        <a class="col-lg-4" href="#">
	        <p>
	      		<img class="img-circle" ng-src="img/r09.jpg" alt="" style="width: 50px; height: 50px;">
	      	</p>
          <p>亲子专区</p>
        </a><!-- /.col-lg-4 -->

         <a class="col-lg-4" href="#">
         	<p>
          		<img class="img-circle" ng-src="img/r10.jpg" alt="" style="width: 50px; height: 50px;">
          	</p>
          	<p>所有菜谱</p>
        </a><!-- /.col-lg-4 -->
     </div><!-- /.row -->



      <!-- <div class="blog-header">
        <p class="lead blog-description">
			<span class="glyphicon glyphicon-fire" style="color:red;"></span>
        	热门菜单搜索
        </p>
      </div> -->

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">美容</h2>
            <p class="blog-post-meta">搜索次数：<a href="#">674567</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

			
			<div class="blog-post">
            <h2 class="blog-post-title">减肥</h2>
            <p class="blog-post-meta">搜索次数：<a href="#">5786</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->


          <div class="blog-post">
            <h2 class="blog-post-title">保健养生</h2>
            <p class="blog-post-meta">搜索次数：<a href="#">4364</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->


          <div class="blog-post">
            <h2 class="blog-post-title">时节</h2>
            <p class="blog-post-meta">搜索次数：<a href="#">2875</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->




        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>
	            <span class="glyphicon glyphicon-heart" style="color:red;"></span>
	            为你推荐
            </h4>
            <ul>
            	<li><a href="">素食最养人</a></li>
            	<li><a href="">绝不能错过的牡蛎吃法</a></li>
            	<li><a href="">健康营养汤煲</a></li>
            	<li><a href="">厉害了我的坚果</a></li>
            	<li><a href="">跳动的味蕾</a></li>
            	<li><a href="">冬季吃菇，鲜美养生 </a></li>
            	<li><a href="">稀奇菜品 </a></li>
            	<li><a href="">霜降，滋补好时节 </a></li>
            </ul>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>
	            <span class="glyphicon glyphicon-heart" style="color:red;"></span>
	            热门菜谱
            </h4>
            <ul>
            	<li><a href="">早餐</a></li>
            	<li><a href="">凉菜</a></li>
            	<li><a href="">热菜</a></li>
            	<li><a href="">汤羹</a></li>
            	<li><a href="">小吃 </a></li>
            </ul>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>
	            <span class="glyphicon glyphicon-heart" style="color:red;"></span>
	            食材 - 你不懂我
            </h4>
            <ul>
            	<li><a href="">时令与热门</a></li>
            	<li><a href="">肉禽类</a></li>
            	<li><a href="">水产品类</a></li>
            	<li><a href="">蔬菜类</a></li>
            	<li><a href="">果品类 </a></li>
            </ul>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer" style="text-align:center;">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>